# general
*~ 
.vscode
.cproject
.project
.metadata
.settings
.DS_Store
*.xlsx

# ros related
*/lib/*
build
*/msg_gen/*
*/srv_gen/*
*/bin/*
*~
Debug
Release

qtcreator-build-*
CMakeLists.txt.user
cisstLog.txt
.ropeproject
*.npz
build-*MinGW*
*.qmlc
*.qm


# cython
*.html
.idea
cmake-build-debug
cmake-build-release
__pycache__
.ipynb_checkpoints

# pytest
.cache
venv